<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <!-- 控制台輸出 -->
        <target name="console" xsi:type="Console" 
                layout="${message}" />
        
        <!-- 檔案輸出 -->
        <target name="logfile" xsi:type="File"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} ${level:uppercase=true} ${message}"
                encoding="utf-8"
                archiveFileName="${basedir}/logs/archive/{#}.log"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="30"/>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="console,logfile" />
    </rules>
</nlog> 